@use '../custom' as *;

.header-yellow {
    position: absolute;
    height: .35rem;
    width: 100vw;
    top: 0%;
    left: 0%;
    background-color: $primary;
}

.header-info {
    margin-top: 1.125rem;
    display: flex;
    justify-content: center;
    
    &-link-logo {
        width: 240px;
    }
}

.page-lang {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0;

    select {
        border: none;
    }
}

.header-text {
    padding-top: .5rem;
    width: 100vw;
    margin-top: .75rem;
    font-weight: 600;
    border-top: 3px solid $yellow-darker;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-submit {
    display: flex;
    justify-content: flex-end;   

    button {
        text-transform: uppercase;
        font-weight: 600;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 680px){
	/*Big smartphones [426px -> 600px]*/
    .header-text {
        margin: 0 auto;
        padding: .25rem;
        padding-top: .5rem;
        width: 90vw;
        margin-top: .75rem;
        font-weight: 600;
        border-top: 3px solid $yellow-darker;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .page-lang {
        position: relative;
        margin: 1.25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid $primary;
    
        select {
            border: none;
        }
    }
}